# Python helper file/script for MATLAB

This cell sets up the notebook to import numpy, datascience, seaborn, pandas, matplotlib etc.

In [1]:
# Run this cell to set up the notebook.

# These lines import the Numpy, Datascience, pandas modules.
import numpy as np
import pandas as pd
import seaborn as sns
#from datascience import *
import random
import matplotlib
import matplotlib.pyplot as plt

# Importing plotting libraries and styles
%matplotlib inline
plt.style.use('fivethirtyeight')

# For Pandas to ignore FutureWarning displays
import warnings
warnings.simplefilter('ignore', FutureWarning)

### The cell given below sets up MATLAB for the notebook
Source: https://sehyoun.com/blog/20180904_using-matlab-with-jupyter-notebook.html

In [2]:
import matlab.engine
import io
import scipy.io
from IPython.core.magic import register_cell_magic
ip = get_ipython()

out = io.StringIO()
err = io.StringIO()

# Setup matlab cell magic #
@register_cell_magic
def matlab_magic(line,cell):
    out.truncate(0)
    out.seek(0)
    err.truncate(0)
    err.truncate(0)
    raw = '''{line}.eval("""{cell}""", nargout=0, stdout=out, stderr=err)'''
    ip.run_cell(raw.format(line=line, cell=cell))
    print(out.getvalue())
    print(err.getvalue())
    
# Starting a MATLAB engine called eng
eng = matlab.engine.start_matlab()

**Note:** Change this to the file path on your computer.

In [12]:
# Adds the MMB.m as well as MMBOPT1.m and MMBOPT2.m folders to the MATLAB engine path"
eng.addpath(r'/Users/Desktop/monetaryPolicy/mmb-gui-mlab/2.3.2', nargout=0)
eng.addpath(r'/Users/Desktop/monetaryPolicy/mmb-gui-mlab/2.3.2/MMB_OPTIONS', nargout=0)

# Important:
The code below sets the coefficients and other data for the PID rule to work.

Check out the coefficients table here:

https://rishab231.github.io/img/coefficients.png

In [13]:
# This sets the coefficients of the monetary policy rule, there are 33 coefficients and len(coefficients) = 33
coefficients = [0, 0, 0, 0, 1.5/4, 1.5/4, 1.5/4, 1.5/4, 
                0, 0, 0, 0, 0, 0, 0, 0, 
                0, 0, 0, 0, 0, 0, 0, 0, 
                0, 0, 0, 0, 0, 0, 0, 1, 0.25]

# Number of the model you want to chooose, please exclude 69-79, 19-22, 27, 59, 65, 68, 81, 97, 98
modelNum = 1

scipy.io.savemat('variables.mat', dict(coefficients=coefficients, modelNumber = modelNum))

## **Important:** 
The cell below runs the MMB.m file

In [14]:
eng.MMB(nargout = 0)

### Functions defined to import data for:
* 4 IRF: Impulse Response Function Variables (outputgap, inflation, interest, output) and `modelName`
* All IRF Variables
* 4 ACF: Autocorrelation Function Variables (outputgap, inflation, interest, output)
* **Unconditional Variances**

In [25]:
def getModelName():
    irf_4 = pd.read_excel("../mmb-gui-mlab-2.3.2/OUTPUT/results.xls", sheetname = "IRF Mon. Pol. Shock      ")
    irf_4 = irf_4.T
    irf_headers = irf_4.iloc[0] # grab the first row for the header
    irf_4 = irf_4[1:] # take the data less the header row
    irf_4_stripped_headers = [myHeader.strip() for myHeader in np.array(irf_headers)] # removing trailing whitespaces
    irf_4.columns = irf_4_stripped_headers
    modelName = irf_4.columns.values[1]
    return modelName

def singleModel_irf4():
    irf_4 = pd.read_excel("../mmb-gui-mlab-2.3.2/OUTPUT/results.xls", sheetname = "IRF Mon. Pol. Shock      ")
    irf_4 = irf_4.T
    irf_headers = irf_4.iloc[0] # grab the first row for the header
    irf_4 = irf_4[1:] # take the data less the header row
    irf_4_stripped_headers = [myHeader.strip() for myHeader in np.array(irf_headers)] # removing trailing whitespaces
    irf_4.columns = irf_4_stripped_headers
    modelName = irf_4.columns.values[1]
    irf_4 = irf_4.iloc[:, [i for i in range(1, len(irf_4.columns.values), 2)]]
    irf_4.columns = ["OutputGap", "Inflation", "Interest", "Output"]
    irf_4 = irf_4.reset_index()
    irf_4.index.name = "Period"
    irf_4.drop('index', axis=1, inplace=True)
    return irf_4

def singleModel_allirf():
    old_irf_df = pd.read_excel("../mmb-gui-mlab-2.3.2/OUTPUT/results.xls", sheetname = "all IRFs Mon. Pol. Shock")
    all_irf = old_irf_df.T
    new_header = all_irf.iloc[0] # grab the first row for the header
    all_irf = all_irf[1:] # take the data less the header row
    stripped_headers = [myHeader.strip() for myHeader in np.array(new_header)] # removing trailing whitespaces
    all_irf.columns = stripped_headers # set the header row as the df header
    all_irf["c_t"] = all_irf.index
    all_irf.index = np.arange(0,21,1)
    all_irf.index.name = "Period"

    # This section rearranges the columns
    n = len(list(all_irf.columns.values))
    rearranged = [list(all_irf.columns.values)[-1]] + list(all_irf.columns.values)[:n-1]
    all_irf = all_irf[rearranged]
    return all_irf

def singleModel_acf():
    acf = pd.read_excel("../mmb-gui-mlab-2.3.2/OUTPUT/results.xls", sheetname = "ACF")
    acf = acf.T
    acf_headers = acf.iloc[0] # grab the first row for the header
    acf = acf[1:] # take the data less the header row
    acf_stripped_headers = [myHeader.strip() for myHeader in np.array(acf_headers)] # removing trailing whitespaces
    acf.columns = acf_stripped_headers
    acf = acf.iloc[:, [i for i in range(0, len(acf.columns.values), 2)]]
    acf.columns = ["OutputGap", "Inflation", "Interest", "Output"]
    acf = acf.reset_index()
    acf.index.name = "Period"
    acf.drop('index', axis=1, inplace=True)
    return acf

def unconditionalVariances():
    var4 = pd.read_csv("../mmb-gui-mlab-2.3.2/OUTPUT/variances.csv", names=["interest", "inflation", "outputgap", "output"])
    return var4

In [26]:
singleModel_irf4()

          OutputGap    Inflation     Interest       Output
Period
0                 0            0            0            0
1         -0.173527    -0.121204     0.818194    -0.173527
2          0.023164   -0.0346703   -0.0520054     0.023164
3         0.0102586   -0.0399283   -0.0598925    0.0102586
4       -0.00106034   -0.0481101   -0.0721652  -0.00106034
5        -0.0157782    0.0638834     0.095825   -0.0157782
6        0.00606366   -0.0117993   -0.0176989   0.00606366
7        0.00160587  -0.00829126   -0.0124369   0.00160587
8      -0.000979886  -0.00166726  -0.00250089 -0.000979886
9       -0.00141614   0.00717984    0.0107698  -0.00141614
10      0.000976094   -0.0024142   -0.0036213  0.000976094
11      0.000106015  -0.00104742  -0.00157113  0.000106015
12     -0.000214404   0.00030982   0.00046473 -0.000214404
13     -9.94754e-05  0.000720513   0.00108077 -9.94754e-05
14      0.000134956 -0.000407049 -0.000610574  0.000134956
15     -7.01198e-06 -9.12351e-05 -0.000136853 -7.01198e-06
16     -3.28731e-05  9.05996e-05  0.000135899 -3.28731e-05
17     -1.86109e-06   5.8742e-05   8.8113e-05 -1.86109e-06
18       1.6529e-05 -5.97975e-05 -8.96963e-05   1.6529e-05
19     -3.83825e-06 -2.53837e-06 -3.80756e-06 -3.83825e-06
20     -4.04353e-06  1.53294e-05  2.29941e-05 -4.04353e-06

In [17]:
singleModel_acf()

         OutputGap   Inflation    Interest      Output
Period
0                1           1           1           1
1         0.536911    0.754082    0.754082    0.610285
2         0.248427    0.558851    0.558851    0.367156
3        0.0770577    0.368061    0.368061    0.219724
4       0.00137064    0.143743    0.143743    0.143081
5        0.0333863     0.15455     0.15455    0.133783
6        0.0319908    0.135618    0.135618    0.109869
7        0.0235166    0.108023    0.108023   0.0865773
8        0.0173222   0.0835915   0.0835915    0.068419
9        0.0141565   0.0669823   0.0669823   0.0549256
10       0.0115145   0.0538917   0.0538917   0.0440492
11       0.0092033   0.0431577   0.0431577    0.035232
12      0.00733145   0.0344798   0.0344798   0.0281674
13      0.00586437   0.0275755   0.0275755   0.0225338
14      0.00469538   0.0220653   0.0220653   0.0180294
15      0.00375691   0.0176541   0.0176541   0.0144238
16      0.00300502   0.0141227   0.0141227   0.0115387
17      0.00240389   0.0112979   0.0112979  0.00923092
18      0.00192317  0.00903834  0.00903834  0.00738477
19      0.00153856  0.00723071  0.00723071  0.00590783
20      0.00123084  0.00578457  0.00578457  0.00472626

In [18]:
unconditionalVariances()

   interest  inflation  outputgap  output
0   0.12596   0.055981     1.7009   2.861


Calculating `unconditionalVariances` for different models (from 1 to 9)

In [29]:
def myVariance(modelNums):
    variances = dict()
    for modelNum in modelNums:
        eng.MMB(nargout = 0)
        scipy.io.savemat('variables.mat', dict(coefficients=coefficients, modelNumber = modelNum))
        modelName = getModelName()
        variances[modelName] = unconditionalVariances().values.tolist()[0]
    return variances

Calculating unconditional variances for different rules

In [30]:
myVariance(np.arange(1,2))

{'NK_RW97': [0.12596, 0.055980999999999996, 1.7009, 2.861]}

## Completed tasks:
* Extracted unconditional variances from the MATLAB code as CSV file (in `OUTPUT/variances.csv`)
* Created a `coefficients` matrix which can be used to feed in a User Defined Rule through Python
* Can input `modelNum` to iterate upon when using our User Defined Rule
* Commented out the part that produces visualizations to save time
* Systemize functions which can generate `IRF_4`, `All_IRF`, `ACF` and `ModelName` on call

**Todo:**
* Iterate and call the `unconditionalVariance` function on many models
* Similarly iterate upon and call your `unconditionalVariance` on many user rules (using `coefficients`)